@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
/* :root {
    --main-color:#2196f3;
    --main-color-alt:#1787e0;
    --main-transition-duration: 0.3s;
}
html {
    scroll-behavior: smooth;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* small 
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}
/* Mediem 
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}
/* small 
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}
/* header 
.header {
    background-color: white;
    position: relative;
    -webkit-box-shadow:0 0 10px #ddd ;
    -moz-box-shadow: 0 0 10px #ddd ;
    box-shadow: 0 0 10px #ddd;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
.header .logo {
    color: var(--main-color);
    font-size: 26px;
    font-weight: bold;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 767px) {
    .header .logo {
        width: 100%;
        height: 50px;
    }
}
.header .main-nav {
   display: flex;
}
@media (max-width: 767px) {
    .header .main-nav {
        margin: auto;
    }
}
.header .main-nav > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    position: relative;
    color: black;
    padding: 0 30px;
    transition: var(--main-transition-duration);
    overflow: hidden;
}
@media (max-width: 767px) {
    .header .main-nav > li > a {
        padding: 10px;
        font-size: 14px;
        height: 40px;
        
    }
}
.header .main-nav > li > a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    top: 0;
    left: -100%;
    transition: var(--main-transition-duration);
}
.header .main-nav > li > a:hover {
    color: var(--main-color);
    background-color: #fafafa;

}
.header .main-nav > li > a:hover::before {
    left:0;
    
}
.landing {
    position: relative;
}
.landing .container {
    
    display: flex;
    align-items: center;
    min-height: calc(100vh - 100px);
    padding-bottom: 20px;
}
.landing::before {
    content: "";
    background-color: #ECECEC;
    width: 100%;
    height: 100%;
    top: -20px;
    left: 0;
    position: absolute;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;

}
.landing .text {
    flex: 1;
}
.landing .text h1 {
    font-size: 40px;
    margin: 0;
    letter-spacing: -2px;
}
.landing .text p {
    font-size: 24px;
    line-height: 1.7;
    color: rgb(46, 46, 46);
}
.landing .image img {
    position: relative;
    width: 300px;
    height: 100%;
    animation: up-and-down 3s linear infinite;
}
.landing .go-down {
    position: absolute;
    left: 50%;
    bottom: 40px;
    color: var(--main-color
    );
    transform: translateX(-50%);
    transition: 0.3s;
    font-size: 35px;
    animation: bouncing 0.9s infinite;
}
.landing .go-down:hover {
    color:yellow;
    font-size: 45px;
}


/* start animation 
@keyframes up-and-down {
    0%,100%{
        top:0;
    }
    50%{
        top: -50px;
    }
}
@keyframes bouncing {
    0%,10%,20%,50%,80%,100%{
        transform: translateY(0);
    }
    40%,60%{
        transform: translateY(-15px);
    }
}
end animation */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
::-webkit-scrollbar{
    width: 5px;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #FB5607;
    border-radius: 5px;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    
}


ul {
    list-style: none;
}
a {
    text-decoration: none;
}

/* Start Sidebar */
.upper-sidebar {
    text-align: center;
}
.upper-sidebar h3 {
    margin-bottom: 20px;
}
.upper-sidebar ul li {
    margin-top: 5px;
}
.sidebar ul li a:hover .dash-i,
  .sidebar ul li a.active .dash-i {
    content: url("/images/dashboard-orange.svg");
  }
.sidebar ul li a:hover .sales-i,
  .sidebar ul li a.active .sales-i {
    content: url("/images/shopping-cart-orange.svg");
  }
.sidebar ul li a:hover .products-i,
  .sidebar ul li a.active .products-i {
    content: url("/images/product-orange.svg");
  }
.sidebar ul li a:hover .chat-i,
  .sidebar ul li a.active .chat-i {
    content: url("/images/chat-orange.svg");
  }
.sidebar ul li a:hover .delivery-i,
  .sidebar ul li a.active .delivery-i {
    content: url("/images/delivery-orange.svg");
  }
.sidebar ul li a:hover .store-i,
  .sidebar ul li a.active .store-i {
    content: url("/images/shop-orange.svg");
  }
.sidebar ul li a:hover .plan-i,
  .sidebar ul li a.active .plan-i {
    content: url("/images/contract-orange.svg");
  }
.sidebar ul li a:hover .ads-i,
  .sidebar ul li a.active .ads-i {
    content: url("/images/megaphone-orange.svg");
  }
.sidebar ul li a:hover .settings-i,
  .sidebar ul li a.active .settings-i {
    content: url("/images/setting-orange.svg");
  }
.upper-sidebar ul li a img {
    width: 20px;
}
.upper-sidebar ul li a span{
    margin-top: 1.8px;
}
.sidebar {
    overflow: auto;
    
    list-style: none;
    height: 100vh;
    background-color: white;
    padding: 20px;
    padding-left: 0;
    position: fixed;
    width: 200px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-weight: bold;
    box-shadow: 0 0 10px #ddd;
  }
  .sidebar > h3 {
    margin-bottom: 50px;
    position: relative;
    text-align: center;
    margin-top: 0px;
    color: #FB5607;
    margin-bottom: 20px;
  }

  
  .sidebar ul li a {
    display: flex;
    align-items: flex-start;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
    width: 100%;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 10px;
    padding-left: 20px;
    transition: 0.3s;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .sidebar ul li a:hover,
  .sidebar ul li a.active {
    background-color: rgba(255, 68, 0, 0.212);
    
    color: #FB5607;
    box-shadow: 0px 1px 3px 0px rgb(132, 132, 132);
  }
  .sidebar ul li a span {
    font-size: 14px;
    margin-left: 10px;
  }
  @media (max-width: 767px) {
    .sidebar {
      width: 58px;
      padding: 0px;
      padding-right: 5px;
      
    }
    .upper-sidebar ul li a {
        border-radius: 20px;
        width: 40px;
        margin-left: 8px;
        padding-left: 10px;
    }
    .main-section{
        
        margin-left: px;
    } 
    .sidebar > h3 {
      font-size: 13px;
      margin-bottom: 15px;
    }
    .upper-sidebar h3 {
        margin-left: 5px;
        font-size: 10px;
        margin-top: 10px;
        margin-bottom: 0px;
    }
    .sidebar > h3::before,
    .sidebar > h3::after {
      display: none;
    }
    .sidebar ul li a span {
      display: none;
    }
    .sidebar .under-sidebar {
        display: none;
    }
  }

  .sidebar .under-sidebar {
    
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 80%;
    position: relative;
    justify-content: center;
    background-color: #FB5607;
    padding: 10px;
    margin-top: 20px;
    border-radius: 8px;
    color: white;
    margin-left: 28px;
  }
  @media  (max-width:767px){
    .sidebar .under-sidebar{
        display: none;
    }
  }
  .sidebar .under-sidebar h5 {
    margin-bottom: 5px;
    
  }
  .sidebar .under-sidebar p {
    text-align: center;
    margin-top: 5px;
    font-size: 10px;
    font-weight: 100;
    margin-bottom: 5px;
  }
  .sidebar .upper-sidebar .line {
    width: 100%;
    margin: 15px 0;
    height: 1px;
    background-color: rgb(140, 140, 140);
  }
  .sidebar .under-sidebar .upgrade {
    border: none;
    padding: 7px 14px;
    margin-top: 10px;
    border-radius: 5px;
    color: #FB5607;
    margin-bottom: 5px;
  }
  /* End Sidebar */

.product-vertical {
    margin-top: 30px;
    margin-bottom: 50px;
}
.topper-products {
    display: flex;
    width: 100%;
    padding: 10px 10px 0 10px;
    margin: 5px 5px 0 5px;
    justify-content: space-between;
}
.topper-products .filters{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
}

.topper-products .filters .filter {
    padding: 10px 20px;
    background-color: white;
    border-radius: 20px;
    margin-right: 15px;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 600;
    border: 0.5px solid #bfbfbf;
    cursor: pointer;
}
.topper-products .filters .filter:hover{
    color: #FB5607;
    
    border: 0.5px solid #FB5607;
}

.topper-products .filters .active-filter{
    background-color: #FB5607;
    color: white;
}
.topper-products .select-mode {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.topper-products .select-mode .table{
    margin: 10px;
    padding: 10px 0;
    font-weight: 600;
    cursor: pointer;
}
.topper-products .select-mode .line{
    height: 35%;
    margin-inline: 8px;
    width: 1px;
    background-color: #FB5607;
}
.text-topper{
    text-align: baseline;
    font-weight: 550px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    margin-left: 5px;
    padding: 0px 0;
    border-bottom: 0.3px solid rgb(188, 188, 188);
}
.order-container{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.order-container label{
    font-size: 13px;
    font-weight: 700;
    margin-right: 10px;

}
.order-container #order {
    padding: 5px 0px 5px 10px;
    outline: none;
    border-radius: 7px;
}
.order-container #order:focus {
    border-color: #FB5607;
    color: #FB5607;
}
.order-container #order:hover {
    border-color: #FB5607;
    color: #FB5607;
}
.order-container #order option {
    border: none;
    background-color: white;
    color: black;
}
.order-container #order option:hover{
    background-color: white;
}
.text-topper div:hover{
    color: #FB5607;
    
    border: 1px solid #FB5607;
}
.text-topper div:hover .iconify{
    color: #FB5607;
}
.text-topper div {
    font-size: 14px;
    font-weight: 500;
    background-color: white;
    color: #222;
    border-radius: 23px;
    display: flex;
    align-items: center;
    border: 1px solid #222;
    cursor: pointer;
    padding: 5px 15px;
    margin-bottom: 7px;


}
.text-topper .iconify {
    color: #222;
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: 20px;
}
.topper-products .select-mode .active-choice {
    color: #FB5607;
    border-bottom: 1px solid #FB5607;
}
.topper-products .select-mode .list{
    margin: 10px;
padding: 10px 0px;
font-weight: 600;
cursor: pointer;
}
th {
    text-transform: uppercase;
    padding: 15px 8px;
    background-color: #FB5607;
    color: white;
}
td {
    padding: 12px 8px;
    background-color: #f6f6f6;;
    color: black;
    font-weight: 500;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin: 5px;
    align-items: center;
    text-align: center;
    border-radius:10px;
    overflow: hidden;
}



.page {
    display: flex;
    min-height: 100vh;
    background-color: white;
}


.main-section{
    display: flex;
    flex-flow: column;
    z-index: 40;
    width: 100%;
    margin-left: 200px;
} 
@media (max-width: 767px) {
    .main-section{
        display: flex;
        flex-flow: column;
        z-index: 40;
        width: 100%;
        margin-left: 58px;
    } 
    

}


header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 60px;
    margin: 25px;
    border-radius: 5px;
    margin-bottom: 0px;
    
    position: relative;
    z-index: 5;
    
    background:white;
   
}
.section-head{
    border-top: 1px solid rgb(196, 196, 196);
    text-align: center;
    padding: 20px;
    width: 100%;
}
.product-vertical {
    background-color: #00FF55;
    margin: 25px;
    border-radius: 5px;
    background-color: white;
   
    padding: 15px;
    padding-top: 40px;
    
}
.main-section
{
    background-color: rgba(251, 86, 7, 0.2);
}

.head-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


.logo {
    text-align: center;
    width: 120px;
}
.heading {
    display: flex;
    align-items: center;
}
.heading ul {
    display:flex;
    align-items: center;
    
}
.heading ul li {
    display: flex;
    align-items: center;
}

.logo a {
    color:black;
    transition-duration: 0.2s;
    font-weight: 800;
   
}

.logo a:hover {
    color: #FB5607;
    transition-duration: 0.2s;
   
}

.heading ul li {
    list-style: none;
   
}
.heading ul li a {
    text-decoration: none;
    color:black;
    font-weight: 500;
    position:relative;
    color:black;
    height: 40px;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 17px;
    transition-duration: 0.3s;
    padding: 5px 12px;
    overflow: hidden;
   
}



.heading ul li a:hover {
    color: #FB5607;
    padding: 12px;
    transition-duration: 0.3s;
   
}

.heading ul li a::before {
    content:'';
    height:4px;
    width:100%;
    position:absolute;
    left:-100%;
    bottom:0;
    background-color: #FB5607;
    transition-duration: 0.5s;
   
}

.heading ul li a:hover::before {
    left: 0;
    
}
.profile{
    display: flex;
    align-items: center;
    padding-inline: 20px;
    padding: 3px;
    padding-inline: 20px;
    border-radius: 90px;
    cursor: pointer;
}
.profile:hover{
    background-color: #f3f3f3;
}
.profile .profile-image img{
    width: 30px;
    border-radius: 50%;

}
.profile .profile-name{
    font-size: 20px;
    font-weight: bold;
    padding-inline: 20px;
}


.search #input {
    height: 100%;
    width: 100%;
    text-decoration: none;
    border: 0.3px solid rgb(163, 163, 163);
    padding: 8px;
    border-radius: 7px;
    padding-left: 10px;
    padding-right: 32px;
   
}
.search #input:focus {
    outline: none;
    border: 1px solid #FB5607;
    border-radius: 7px;
}

.logo a {
    color: black;
    font-size: 35px;
    font-weight: 500;
    text-decoration:none;
   
}

ion-icon {
    width:20px;
    height: 100%;
    padding-right: 5px;
    padding-left: 5px;
    color:black;
}

ion-icon:hover {
    cursor: pointer;
   
}

.search{
    justify-content: center;
    position: relative;
    width: 40%;
    overflow: hidden;
    border-radius: 7px;
}
.search a {
    position: absolute;
    top: 0;
    right: 5px;
    height: 100%;
    z-index: 40;
    display:flex;
    
}

/* start category drop down */

.category-header{
    display: flex;
    justify-content: space-between;
    padding-inline: 20px;
    height: 40px;
    align-items: center;
    border-radius: 7px;
    padding: 0 0px;
    position: relative;
    z-index: 2;
}
.category-header:hover a {
    color: #FB5607;
}
.category-header::before{
    content: "";
    position: absolute;
    width: 0%;
    height: 4px;
    background-color: #FB5607;
    bottom: 0;
    left: 0;
    transition: 0.5s;
}
.category-header:hover::before {
    width: 100%;
}
.category-header:hover{
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
ul {
    list-style: none;
}
.category-header a{
    color: black;
    font-size: 17px;
    font-weight: 500;
}
a{
    text-decoration: none;
}
.category-header img {
    width: 15px;
    margin-left: 10px;
    margin-top: 1px;
}

.category-header .categories > ul {
    list-style: none;
}

.category-header .all-categories {
    height: fit-content;
    background-color: white;
    position: absolute;
    display: none;
    top: 100%;
    border-top: none;
    left: -100%;
    border-top: 0.01px solid rgb(232, 232, 232);
    
    box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.25);
    border-radius: 7px;

}
.category-header:hover .all-categories{
    display: flex;

}
.category-header .all-categories .categories-nav {
    
    padding: 20px 40px;
    margin-right: 1px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    
}
.category-header .all-categories .categories-nav .categories-list {
    width: 100%;
}
.category-header .all-categories .categories-nav .categories-list li {
    padding: 4px;
    width: fit-content;
    font-size: 18px;
    white-space: nowrap;
    font-weight: 500;
}
.category-header .all-categories .categories-nav::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 0.2px;
    background-color: #feddcd;
}

.category-header .all-categories .sub-categories {
    
    padding: 10px 30px;
    
}
.category-header .all-categories .sub-categories h2 {
    position: relative;
    padding: 0 0 5px 0;
    font-size: 18px;
    white-space:nowrap;
    margin-bottom: 7px;
    color: #FB5607;
}
.category-header .all-categories .sub-categories h2::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 5%;
    height: 0.2px;
    
    width: 90%;
    background-color: #feddcd;
}
.category-header .all-categories .sub-categories .sub-categories-list li {
    font-size: 18px;
    padding: 4px 0px;
    white-space: nowrap;
    text-align: left;
}











/* //////////////////////////////////////////////////////////////////// */
.section2 .container {
    display:flex;
    
    
    
    width:100%;
    height:max-content;
    flex-wrap: wrap;
    justify-content:center;
    margin:10px auto;
   
}

.section2 .container .items {
    margin: 10px;
    width:200px;
    height: 302px;
    overflow: hidden;
    position: relative;
    background-color:white;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
   
}
.section2 .container .items:hover {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
}
.section2 .container .items .icons {
    position: absolute;
    width: 30px;
    display: flex;
    flex-direction: column;
    top: 10px;
    right: -50px;
    transition: 0.5s;
}
.section2 .container .items:hover .icons {
    right: 1px;
}
.section2 .container .items:hover .icons a{
    color: #333;
}
.section2 .container .items .icons a {
    color: #333;
}
.section2 .container .items .icons .add-cart {
    border: 1px solid rgb(163, 163, 163);
    background-color: #ffffff;    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    border-radius: 3px;
    
}
.section2 .container .items .icons .add-wish {
    border: 1px solid rgb(163, 163, 163);
    background-color: #ffffff;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    border-radius: 3px;
    
}
.section2 .container .items .icons .display {
    border: 1px solid rgb(163, 163, 163);
    background-color: #ffffff;    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    
}
.section2 .container .items .icons a:hover {
    color: #FB5607;
    
    border: 1px solid #FB5607;
}
.section2 .container .items .name {
    text-align:left;
    height:25px;
   
    padding-top:4px;
    color:#FB5607;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 10px;
    font-weight: 500;
    margin: 0;
    font-size: 12px;
    font-weight: 500;
    margin-left: 9px;
   
}
.section2 .container .items .prices{
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
}
.section2 .container .items .price {
    padding-left:10px;
    display: block;
   
    color:rgb(0, 0, 0);
    font-weight: 650;
    font-size: 14px;
   
}
.section2 .container .items .old-price {
  
   text-decoration: line-through;
   font-size: 12px;
   font-weight: 300;
   padding-left: 10px;
   margin-top: 8px;

}
.section2 .container .items .foot-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section2 .container .items .review{
    display: flex;
    padding-right: 10px;
    align-items: center;
}
.section2 .container .items .review .start-img {
   width: 10px;
   height: 10px;
   display: flex;
   align-items: center;
   margin-left: 3px;
   margin-top: -3px;
   
   
}
.section2 .container .items .review  .review-is {
   font-size: 10px;
   
}



.section2 .container .items .info {
    padding-left:10px;
    padding-right: 10px;
    margin-top: 4px;
    color:rgb(63, 63, 63);
    font-size: 12px;
    margin-bottom: 9px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    font-weight: 300px;
   
   
}

.section2 .container .items .img img {
    width:180px;
    height:180px;
    margin: 10px;
    border-radius: 5px;
    padding: 0;
    transition-duration:0.8s;
   
}

.section2 .container .items .img {
    overflow: hidden;
    margin: 0;
   
}

.section2 .container .items:hover .img img {
    transform: scale(1.2);
    transition-duration:0.6s;
    border-radius:12px;
   
}
